
.btnn {
  border-radius: 5px;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  font-size: 16px;
  font-weight: 700;
  color: black;
  border: 3px solid blueviolet;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btnn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btnn:hover::before {
  transform: translateX(0);
 }
.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}




input{
  border: 1px solid blueviolet;
}
button.input-group-text{
  background-color: blueviolet;
}




footer{
  background-color: blueviolet;
}